name: Sync develop with main
on:
  pull_request:
    types: [closed]
    branches: [main]

jobs:
  sync:
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'develop'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: develop
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git merge origin/main
          git push
